  .button {
  border: solid 2px #6E6E6E;  
  display: inline-block;
  background-color: gray;
  font-size: 18px;
  color: #FFF;
  text-decoration: none;
  font-weight: bold;
}
 
#reset {
  position: absolute;
  top: 25px;
  right: 25px;
  font-size: 18px;
  display: inline-block;
  font-size: 24px;
  color: red;
  font-weight: bold;
}